<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
	    <title>题目管理</title>
	    <link rel="stylesheet" th:href="@{/assets/css/jquery-ui.css}"/>
	    <link rel="stylesheet" th:href="@{/assets/js/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css}"/>
	    <link rel="stylesheet" th:href="@{/assets/css/ui.jqgrid.css}"/>
	    <style type="text/css">
	        .margin_left_10px {
	            margin-left: 10px;
	        }
	
	        .search {
	            padding-bottom: 10px;
	            display: flex;
	            justify-content: flex-start;
	            align-items: Center;
	        }
	    </style>
	</head>
	<!-- ajax layout which only needs content area -->
	<div class="page-header">
	    <h1>题目管理</h1>
	</div>

	<div class="row">
		<div>
			<!-- 从页面中传递过来的问题id -->
			<input id="assessmentId" th:value="${id}" type="hidden" />		
		</div>
	    <div class="search col-sm-12">
	        <label class="control-label no-padding-right">问题编号：&nbsp;&nbsp;</label>
	        <input id="searchQuestionCode" type="text"/>&nbsp;&nbsp;
	        <label class="control-label no-padding-right">题目名称：&nbsp;&nbsp;</label>
	        <input id="searchQuestionName" type="text"/>&nbsp;&nbsp;
	        <label class="control-label no-padding-right">题目描述：&nbsp;&nbsp;</label>
	        <input id="searchDescription" type="text"/>&nbsp;&nbsp;
	    	<label class="control-label no-padding-right">状态：</label>
	        <select id="searchState">
	            <option value="">请选择</option>
	            <option value="1">正常</option>
	            <option value="2">删除</option>
	        </select>
	        <button onclick="search()" style="margin-left: 30px;" class="btn btn-sm btn-primary fa fa-search">查询</button>
	        <button onclick="add()" style="margin-left: 30px;" class="btn btn-sm btn-success margin_left_10px">添加</button>
	    </div>
	    
	    <div class="col-xs-12">
	        <table id="grid-table"></table>
	
	        <div id="grid-pager"></div>
	        <!-- PAGE CONTENT ENDS -->
	    </div>
	    <!-- /.col -->
	</div>
	<!-- /.row -->

	<!-- inline scripts related to this page -->
	<script type="text/javascript" th:inline="javascript">
	    /*<![CDATA[*/
	    var scripts = [
	        null, /*[[@{/assets/js/jqGrid/jquery.jqGrid.src.js}]]*/ '',
	        /*[[@{/assets/js/jqGrid/i18n/grid.locale-cn.js}]]*/ '',
	        /*[[@{/assets/js/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js}]]*/ '',
	        /*[[@{/assets/js/jquery-ui-timepicker-addon/jquery-ui-sliderAccess.js}]]*/ '',
	        /*[[@{/assets/js/jquery-ui-timepicker-addon/i18n/jquery-ui-timepicker-zh-CN.js}]]*/ '',
	        null
	    ]
	    var assessmentId = $('#assessmentId').val(); // 获取评估id
	    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
	        /* 选择器 */
	        var grid_selector = "#grid-table";
	        var pager_selector = "#grid-pager";
	
	        //调整大小为page-content宽度
	        $(window).on('resize.jqGrid', function () {
	            $(grid_selector).jqGrid('setGridWidth', $(".page-content").width());
	        })
	        //resize on sidebar collapse/expand
	        var parent_column = $(grid_selector).closest('[class*="col-"]');
	        //配置settings设置
	        $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
	            if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
	                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
	                setTimeout(function () {
	                    $(grid_selector).jqGrid('setGridWidth', parent_column.width());
	                }, 0);
	            }
	        })
	
	        /* jqgrid定义 */
	        jQuery(grid_selector).jqGrid({
	            //解析从Server返回的json数据
	            jsonReader: {
	                root: "rows", // json中每行的记录
	                page: "currentPage", //json中代表当前页码的数据
	                total: "totalPageSize", //json中代表页码总数的数据
	                records: "totalRecords",//总记录数
	                repeatitems: false,//通常设置为false
	                id: "id",//解析rows中的id值,作为该行的id(默认就是id)
	            },
	            caption: "",//表格的名称
	            cellEdit: false,//设置单元格是否可点击修改,false为不可以
	            url: "assess/question/list?assessmentId="+assessmentId,//请求路径
	            datatype: "json",//数据类型
	            mtype: "GET",//提交方式
	            height: 350,//jqgrid高度
	            hoverrows: true,//当为false时mouse hovering会被禁用,true时鼠标移动到行时高亮显示
	            rownumbers: false,//添加行号
	            rownumWidth: 40,//rownum列宽
	            viewrecords: true,//显示总记录数
	            altRows: true,//设置为交替表格,交替颜色区分
	            rowNum: 10,//一页显示记录条数
	            rowList: [
	                10, 20, 30
	            ],//可选的一页显示记录数
	            autowidth: true,//true，重新计算表格相对于父元素的宽度。在表格建立时执行。如果建立之后表格父元素宽度改变，需要自动调整宽度，使用setGridWidth方法来实现
	            emptyrecords: "当前获取数据为空...",//当表格没有数据时显示的提示信息，仅当viewrecords配置为true时有效。
	            loadtext: "数据加载中...",
	            pager: pager_selector,//分页元素
	            pagerpos: "center",//定义分页栏位置,left、center、right
	            pgbuttons: true,//显示分页按钮
	            pginput: true,//是否显示跳转页面输入框
	            pgtext: "{0} 共 {1} 页",//显示页数与总页数信息
	            sortname: "sortNo",
	            sortorder: "asc",
	            recordpos: "right",//定义了记录信息的位置： left, center, right
	            /* JSON数组对象描述列的参数。 */
	            colModel: [
	                {
	                    label: '问题主键',
	                    name: 'id',
	                    width: 40,
	                    editable: false,
	                    sortable: false,
	                    jsonmap: "id",
	                }, {
	                    label: '问题编码',
	                    name: 'questionCode',
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "questionCode",
	                }, {
	                    label: '问题',
	                    name: "questionName",
	                    width: 80,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "questionName",
	                }, {
	                    label: '父id',
	                    name: "pid",
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "pid",
	                }, {
	                    label: '所属分类',
	                    name: "category",
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "category",
	                    formatter: initCate,
	                }, {
	                    label: '问题类型',
	                    name: "questionType",
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "questionType",
	                    formatter: initQType,
	                }, {
	                    label: '答案类型',
	                    name: "answerType",
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "answerType",
	                    formatter: initAType,
	                }, {
	                    label: '问题描述',
	                    name: "description",
	                    width: 80,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "description",
	                }, {
	                    label: '排序',
	                    name: "sortNo",
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "sortNo",
	                }, {
	                    label: '状态',
	                    name: "state",
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "state",
	                    formatter: initState,
	                }, {
	                    label: '创建日期',
	                    name: "createTime",
	                    width: 40,
	                    edittable: false,
	                    sortable: false,
	                    jsonmap: "createTime",
	                }, {
	                    label: '操作',
	                    width: 80,
	                    align: "center",
	                    formatter: initOper,
	                }
	                
	            ],
	            //在所有数据加载进入表格和所有处理已经完成后触发。在排序，分页等操作后也会触发。
	            loadComplete: function () {
	                var table = this;
	                setTimeout(function () {
	                    //加载完成后，替换分页按钮图标
	                    updatePagerIcons(table);
	                }, 0)
	            }
	        })
	        
	        // 初始化所属分类
	        function initCate(value) {
	        	var result = '';
	        	switch(value) {
	        	case 1:
	        		result = '一般信息';
	        		break;
	        	case 2:
	        		result = '健康状况及家庭病史';
	        		break;
	        	case 3:
	        		result = '饮食习惯和生活方式';
	        		break;
	        	case 4:
	        		result = '体检指标';
	        		break;
	        	}
	        	return result;
	        }
	        
	        // 初始化问题类型
	        function initQType(value) {
	        	var result = '';
	        	switch(value) {
	        	case 1:
	        		result = '单选';
	        		break;
	        	case 2:
	        		result = '多选';
	        		break;
	        	case 3:
	        		result = '填空';
	        		break;
	        	}
	        	return result;
	        }
	        
	        // 初始化状态
	        function initState(value) {
	        	var result = '';
	    		switch(value) {
	    		case '1':
	    			result = '正常';
	    			break;
	    		case '-1':
	    			result = '删除';
	    			break;
	    		}
	    		return result;
	        }
	        
	        // 初始化问题类型
	        function initAType(value) {
	        	var result = '';
	    		switch(value) {
	    		case 1:
	    			result = '数字';
	    			break;
	    		case 2:
	    			result = '文字';
	    			break;
	    		case 3:
	    			result = '日期';
	    			break;
	    		case 4:
	    			result = '地址';
	    			break;
	    		case 5:
	    			result = '民族';
	    			break;
	    		}
	    		return result;
	        }
	
	        //替换分页按钮为奥森字体图标
	        function updatePagerIcons(table) {
	            var replacement = {
	                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
	                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
	                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
	                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
	            };
	            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
	                var icon = $(this);
	                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
	
	                if ($class in replacement)
	                    icon.attr('class', 'ui-icon ' + replacement[$class]);
	            })
	        }
	        
	      	//初始化操作栏目
	        function initOper(value, grid, rows, state) {
	            var id = rows.id;
	            var edit = "edit('" + id + "')";
	            var open = "open1('" + id + "')";
	            var del = "del('" + id + "')";
	            var template = "<button class='btn btn-xs btn-primary' onclick=\"" + edit + "\"><i class='ace-icon fa fa-pencil align-top bigger-125'></i>修改</button>";
	            template += "<button style='margin-left: 10px;' class='btn btn-xs btn-danger' onclick=\"" + del + "\"><i class='ace-icon fa fa-trash-o align-top bigger-125'></i>删除</button>"
	            template += "<button style='margin-left: 10px;margin-top:10px;' class='btn btn-xs btn-danger' onclick=\"" + open + "\"><i class='ace-icon fa fa-trash-o align-top bigger-125'></i>选项编辑</button>"
	            return template;
	        }
	
	        //触发window的resize.jqGrid事件
	        $(window).triggerHandler('resize.jqGrid');
	
	        // 必须添加
	        //==================================================================================================
	        $(document).one('ajaxloadstart.page', function (e) {
	            $(grid_selector).jqGrid('GridUnload');
	            $('.ui-jqdialog').remove();
	        });
	    })
	    /*]]>*/
	
	    // 查询按钮点击
	    function search() {
	        var assessName = $('#searchAssessmentName').val();
	        var assessmentCode = $('#searchAssessmentCode').val();
	        var shortDesci = $('#searchShortDesci').val();
	        var type = $('#searchType').val();
	        var sex = $('#searchSex').val();
	        var source = $('#searchSource').val();
	        $('#grid-table').jqGrid('setGridParam', {
	            postData: {
	                "assessName": assessName,
	                "assessmentCode": assessmentCode,
	                "shortDesci": shortDesci,
	                "type": type,
	                "source": source
	            },
	        }).trigger('reloadGrid');
	    }
	    
	 	// 新增按钮点击
	    function add() {
	 		// 判断是否应该添加问题？
	    	/* $.post("assess/question/add",
	            {id: id},
	            function (data) {
	                if (0 === data.code) {
	                    $('#grid-table').trigger('reloadGrid');
	                } else {
	                    alert(data.message)
	                }
	            }),
	            "JSON" */
	        location.href = "#page/assess/question/add_view?id=" + assessmentId;
	    }
	 	
	 	// 编辑操作
	    function edit(id) {
	        console.log("执行编辑操作:" + id)
	        var params = id + "," + assessmentId;
	        location.href = "#page/assess/question/edit_view?params=" + params;
	    }
	 	
	 	function open1(id) {
	        console.log("执行打开操作:" + id)
	        location.href = "#page/assess/option?id=" + id;
	 	}
	 	
	 	// 删除操作
	 	function del(id) {
	        //console.log("执行删除操作:" + id)
	        $.post("assess/question/del",
	            {id: id},
	            function (data) {
	                if (0 === data.code) {
	                    $('#grid-table').trigger('reloadGrid');
	                } else {
	                    alert(data.message)
	                }
	            }),
	            "JSON"
	    }
	
	</script>
</html>