<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>编辑设备</title>
    <link rel="stylesheet" th:href="@{/assets/css/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/assets/js/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css}"/>
    <style type="text/css">

    </style>
</head>
<!-- ajax layout which only needs content area -->
<div class="page-header">
    <h1>编辑设备</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- form表单 -->
        <form class="form-horizontal" id="from-detail" role="form">
      		<!-- 隐藏字段 -->
      		<!-- 主键 -->
            <input type="hidden" name="id" th:value="${deviceSource.id}"/>
            <!-- 设备编号 -->
            <input type="hidden" name="deviceNo" th:value="${deviceSource.deviceNo}"/>
            <input type="hidden" name="connectionType" th:value="${deviceSource.connectionType}"/>
            <input type="hidden" name="descriptionUrl" th:value="${deviceSource.descriptionUrl}"/>
            <input type="hidden" name="typeId" th:value="${deviceSource.typeId}"/>
            <!-- 设备编号 -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="deviceNo"> 设备编号 :</label>

                <div class="col-sm-3">
                    <input type="text" name="" id="" placeholder="设备编号 " disabled="disabled"
                           class="col-xs-10 col-sm-12" th:value="${deviceSource.deviceNo}"/>
                </div>
            </div>

            <!-- 设备名称 -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="deviceName"> 设备名称:</label>

                <div class="col-sm-3">
                    <input type="text" name="deviceName" id="deviceName" placeholder="设备名称" 
                    	class="col-xs-10 col-sm-12" th:value="${deviceSource.deviceName}"/>
                </div>
            </div>

            <!-- 设备编码  -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="deviceCode"> 设备编码 :</label>

                <div class="col-sm-3">
                    <input type="text" name="deviceCode" id="deviceCode" placeholder="设备编码 " 
                    	class="col-xs-10 col-sm-12" th:value="${deviceSource.deviceCode}"/>
                </div>
            </div>

            <!-- 设备授权方式  -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="accreditType"> 设备授权方式 :</label>
                <div class="col-sm-3">
                    <!-- <select name="accreditType" id="accreditType" class="form-control">
                        <option value="NULL" th:selected="${deviceSource.accreditType.toString()=='NULL'}">无</option>
                        <option value="auth" th:selected="${deviceSource.accreditType.toString()=='auth'}">auth</option>
                        <option value="authorize" th:selected="${deviceSource.accreditType.toString()=='authorize'}">authorize</option>
                        <option value="from_auth" th:selected="${deviceSource.accreditType.toString()=='from_auth'}">from_auth</option>
                    </select> -->
                </div>
            </div>
            
            <!-- 设备描述  -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description"> 设备描述 :</label>

                <div class="col-sm-3">
                    <input type="text" name="description" id="description" placeholder="设备描述" 
                    	class="col-xs-10 col-sm-12" th:value="${deviceSource.description}"/>
                </div>
            </div>
            
            <!-- 设备功能类型 -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="functionType">设备功能类型:</label>
                <div class="col-sm-9">
                <table>
                	<tr>
                		<td style="padding: 4px;">
                		<input type="checkbox" name="functionType" id="functionType1" value="1"
                			th:checked="${deviceSource.isChecked[0]}"/>运动
                		</td>
                		<td>
                		<input type="checkbox" name="functionType" id="functionType2" value="2"
                			th:checked="${deviceSource.isChecked[1]}"/>睡眠
                		</td>
                		<td>
                		<input type="checkbox" name="functionType" id="functionType3" value="3"
                			th:checked="${deviceSource.isChecked[2]}"/>血压
                		</td>
                		<td>
                		<input type="checkbox" name="functionType" id="functionType4" value="4" 
                			th:checked="${deviceSource.isChecked[3]}"/>血糖
                		</td>
                		<td>
                		<input type="checkbox" name="functionType" id="functionType5" value="5"
                			th:checked="${deviceSource.isChecked[4]}" />温度
                		</td>
                		<td>
                		<input type="checkbox" name="functionType" id="functionType6" value="6"
                			th:checked="${deviceSource.isChecked[5]}"/>行为监测
                		</td>
                		<td>
                		<input type="checkbox" name="functionType" id="functionType7" value="7"
                			th:checked="${deviceSource.isChecked[6]}"/>瘦身
                		</td>
                		<td>
                		<input type="checkbox" name="functionType" id="functionType8" value="8"
                			th:checked="${deviceSource.isChecked[7]}"/>心率
                		</td>
                	</tr>
                </table>
                </div>
            </div>
            
            <!-- 连接类型 -->
             <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="linkType">连接类型 :</label>
                <div class="col-sm-3">
                    <select name="linkType" id="linkType" class="form-control">
                        <option value="1" th:checked="${deviceSource.linkType=='1'}">蓝牙连接</option>
                        <option value="2" th:checked="${deviceSource.linkType=='2'}">扫描二维码</option>
                        <option value="3" th:checked="${deviceSource.linkType=='3'}">auth2授权</option>
                    </select>
                </div>
            </div>
            
            <!-- 设备logo -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="pic"> 设备logo:</label>

                <div class="col-sm-3">
                    <input type="hidden" name="deviceLogo" id="deviceLogo" th:value="${deviceSource.deviceLogo}"/>
                    <img id="pic_img" th:src="${deviceSource.deviceLogo}" class="img-responsive center-block"/>
                    <div id="pic_input" hidden="hidden">
                        <!-- 图片上传组件 -->
                        <input multiple="" type="file" id="pic" name="pic"/>
                    </div>
                </div>
            </div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button id="back" class="btn" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        返回
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button id="commit" class="btn btn-success" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- inline scripts related to this page -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var scripts = [
        null,
        /*[[@{/assets/js/jquery.validate.js}]]*/ '',
        /*[[@{/assets/js/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js}]]*/ '',
        /*[[@{/assets/js/jquery-ui-timepicker-addon/jquery-ui-sliderAccess.js}]]*/ '',
        /*[[@{/assets/js/jquery-ui-timepicker-addon/i18n/jquery-ui-timepicker-zh-CN.js}]]*/ '',
        null
    ]

    $('.page-content-area').ace_ajax(
        'loadScripts',
        scripts,
        function () {
            // 设置文件上传
            $('#pic').ace_file_input({
                style: 'well',
                btn_choose: '点击选择您要上传的图片',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: false,
                allowExt: ["jpeg", "jpg", "png", "gif", "bmp"],
                allowMime: ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"],
                thumbnail: 'fit',
                preview_error: function (filename, error_code) {
                }
            }).on('change', function () {
//                console.log("文件上传开始...")
                //获取文件
                var fileInput = document.getElementById("pic");
                var file = fileInput.files[0];
                var formData = new FormData();
                formData.append("file", file);
                $.ajax({
                    type: "POST",    //必须POST
                    url: /*[[@{/upload}]]*/ '',    //接收请求的URL
                    processData: false,    //必须设置
                    contentType: false,    //必须设置
                    data: formData,    //直接把formData对象作为data属性的值发送
                    success: function (data) {
                        console.log(data)
                        if (0 === data.code) {
                        	debugger;
                            //如果上传成功,设置url地址
                            $('#deviceLogo').val(data.content);
                        } else {
                            alert(data.message);
                        }
                    }
                })
            }).on('file.error.ace', function (e, info) {
                alert('请保证上传的为图片文件！')
            });

            //设置校验
            $('#from-detail').validate({
                errorElement: 'div',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {
                	deviceName: {
                        required: true
                    }
                },

                messages: {
                	deviceName: "设备名称不能为空"
                },

                highlight: function (e) {
                    $(e).closest('.form-group').addClass('has-error');
                },

                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');
                    $(e).remove();
                },

                errorPlacement: function (error, element) {
                    if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                        var controls = element.closest('div[class*="col-"]');
                        if (controls.find(':checkbox,:radio').length > 1)
                            controls.append(error);
                        else
                            error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    } else if (element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    } else if (element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    } else
                        error.insertAfter(element.parent());
                },
            });

            // 返回
            $('#back').click(function () {
                location.href = "#page/devicesource"
            })

            // 执行提交
            $('#commit').click(function () {
                if (!$('#from-detail').valid()) {
                    return false;
                }
                $.post("devicesource/saveOrUpdate", $("#from-detail").serialize(), function (data) {
                    if (0 === data.code) {
                        location.href = "#page/devicesource/"
                    } else {
                        alert(data.message)
                    }
                }, "JSON")
            })

            // 点击图片隐藏当前图片,并展示图片选择框
            $('#pic_img').click(function () {
                $('#pic_img').hide()
                $('#pic_input').show()
            })
        })
    /*]]>*/
</script>
</html>